<div class="d-flex flex-column align-items-center mt-4">
    <h3 class="text-center ">Your Dashboard</h3>

    {{#if selected}}
        <div class="card">
            <div class="card-header">Edit Post</div>
            <div class="card-body">
                <input type="text" class="form-control" value="{{post.title}}" />
                <textarea class="form-control mt-2">{{post.content}}</textarea>
                <button class="btn btn-success mt-2">Save Changes</button>
            </div>
        </div>

        <a href="/api/user/dashboard" class="btn btn-secondary m-4">Back to Posts</a>
    {{else}}

        {{#if newPost}}
            {{>new-post}}
        {{else}}

        {{#each posts as |post|}}
            
                <a href="/api/blog/edit-post/{{post.id}}" class="mt-4 col-md-6 text-decoration-none text-body">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <h5 class="card-title">{{post.title}}</h5>
                            <div>Posted by you on {{format_date post.createdAt}}</div>
                        </div>
                    </div>
                </a>
        {{/each}}

        <a href="/api/blog/new-post" class="btn btn-primary m-4">+ New Post</a>

        {{/if}}
        
    {{/if}}

</div>
