<div class="d-flex flex-column align-items-center">
    <h3 class="text-center mt-4">Recent Posts</h3>

    {{#if selected}}

        <a href="/api/blog/add-comment/{{post.post_id}}" class="mt-4 col-md-6 text-decoration-none text-body">
            <div class="card ">
                <div class="card-header d-flex justify-content-between">
                    <h5 class="card-title">{{post.title}}</h5>
                    <div>Posted by {{post.user.username}} on {{format_date post.createdAt}}</div>
                </div>
                <div class="card-body"> 
                    <p class="card-text">{{post.content}}</p>
                </div>
            </div>
        </a>

    {{else}}

        {{#each posts as |post|}}
            <a href="/api/blog/add-comment/{{post.post_id}}" class="mt-4 col-md-6 text-decoration-none text-body">
                <div class="card ">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title">{{post.title}}</h5>
                        <div>Posted by {{post.user.username}} on {{format_date post.createdAt}}</div>
                    </div>
                    <div class="card-body"> 
                        <p class="card-text">{{post.content}}</p>
                    </div>
                </div>
            </a>
        {{/each}}
        
    {{/if}}

</div>